name: Build and Deploy GLPI + MariaDB to AKS (Helm + Traefik + cert-manager)

on:
  push:
    branches: [ "main" ]


jobs:


# -------------------------
  # Stage 2: Configure Cluster and Deploy
  # -------------------------
  Deploy:
    runs-on: ubuntu-22.04
    environment: dev
    env:
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
      AZURE_AKS_CLUSTER: ${{ vars.AZURE_AKS_CLUSTER }}
      HELM_RELEASE: glpi
      HELM_NAMESPACE: serviceone-dev
    steps:
      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Install Helm
        run: |
          curl -sSL https://get.helm.sh/helm-v3.14.0-linux-amd64.tar.gz | tar xz
          sudo mv linux-amd64/helm /usr/local/bin/helm

      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group $AZURE_RESOURCE_GROUP \
            --name $AZURE_AKS_CLUSTER \
            --overwrite-existing

      - name: Verify cluster connection
        run: kubectl get nodes


      - name: Checkout
        uses: actions/checkout@v4


    # --- Install Traefik ---
      - name: Install Traefik Ingress Controller
        run: |
         helm repo add traefik https://traefik.github.io/charts
         helm repo update
         helm upgrade --install traefik traefik/traefik \
              --namespace traefik \
              --create-namespace \
              --set ports.web.redirections.entryPoint.to=websecure \
              --set ports.web.redirections.entryPoint.scheme=https \
              --set ports.websecure.port=8443 \
              --set ports.websecure.exposedPort=443


      # --- Install cert-manager ---
      - name: Install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm upgrade --install cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --set installCRDs=true

      # --- Apply ClusterIssuer ---
      - name: Apply ClusterIssuer for Let's Encrypt
        run: |
          kubectl apply -f ./helm-charts/cluster-issuer.yaml


      - name: Deploy GLPI with Helm
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
          DB_USER_PASSWORD: ${{ secrets.DB_USER_PASSWORD }}
        run: |
         helm upgrade --install "$HELM_RELEASE" ./helm-charts/glpi \
          --namespace "$HELM_NAMESPACE" \
          --create-namespace \
          -f ./helm-charts/glpi/values-dev.yaml \
          --set mariadb.rootPassword="$DB_ROOT_PASSWORD" \
          --set mariadb.userPassword="$DB_USER_PASSWORD"
