name: Build and Deploy GLPI + MariaDB to AKS (Helm)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy: 
    runs-on: ubuntu-latest

    env:
      ACR_LOGIN_SERVER: ${{ vars.ACR_LOGIN_SERVER }}
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
      AZURE_AKS_CLUSTER: ${{ vars.AZURE_AKS_CLUSTER }}
      HELM_RELEASE: glpi
      HELM_NAMESPACE: glpi

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ACR login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ vars.ACR_LOGIN_SERVER }}
          username: ${{ vars.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push GLPI image
        run: |
          docker build -t $ACR_LOGIN_SERVER/glpi:latest .
          docker push $ACR_LOGIN_SERVER/glpi:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group $AZURE_RESOURCE_GROUP \
            --name $AZURE_AKS_CLUSTER \
            --overwrite-existing
      - name: Deploy with Helm
        run: >
         helm upgrade --install $HELM_RELEASE ./helm-charts/glpi --namespace $HELM_NAMESPACE --create-namespace -f ./helm-charts/glpi/values.yaml --set mariadb.rootPassword=${{ secrets.DB_ROOT_PASSWORD }} --set mariadb.userPassword=${{ secrets.DB_USER_PASSWORD }}

