name: Build and Deploy GLPI + MariaDB to AKS (Helm + Traefik + cert-manager)

on:
  push:
    branches: [ "main" ]

jobs:
# -------------------------
  # Stage 2: Configure Cluster and Deploy
  # -------------------------
  Deploy:
    runs-on: ubuntu-22.04
    environment: dev
    env:
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
      AZURE_AKS_CLUSTER: ${{ vars.AZURE_AKS_CLUSTER }}
      HELM_RELEASE: glpi
      HELM_NAMESPACE: serviceone-dev
      ACR_LOGIN_SERVER: ${{ vars.ACR_LOGIN_SERVER }}
    steps:
      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Install Helm
        run: |
          curl -sSL https://get.helm.sh/helm-v3.14.0-linux-amd64.tar.gz | tar xz
          sudo mv linux-amd64/helm /usr/local/bin/helm

      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group $AZURE_RESOURCE_GROUP \
            --name $AZURE_AKS_CLUSTER \
            --overwrite-existing

      - name: Verify cluster connection
        run: kubectl get nodes


      - name: Checkout
        uses: actions/checkout@v4

      # --- Install Traefik ---
      - name: Install Traefik Ingress Controller
        run: |
          helm repo add traefik https://traefik.github.io/charts
          helm repo update
          helm upgrade --install traefik traefik/traefik \
            --namespace traefik \
            --create-namespace

      # --- Install cert-manager ---
      - name: Install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm upgrade --install cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --set installCRDs=true

      # --- Apply ClusterIssuer ---
      - name: Apply ClusterIssuer for Let's Encrypt
        run: |
          kubectl apply -f ./helm-charts/cluster-issuer.yaml

      - name: Create ACR pull secret
        run: |
          kubectl create secret docker-registry acr-secret \
           --docker-server=$ACR_LOGIN_SERVER \
           --docker-username=${{ vars.ACR_USERNAME }} \
           --docker-password=${{ secrets.ACR_PASSWORD }} \
           --docker-email=unused@example.com \
           --namespace $HELM_NAMESPACE \
           --dry-run=client -o yaml | kubectl apply -f -


      - name: Deploy GLPI with Helm
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
          DB_USER_PASSWORD: ${{ secrets.DB_USER_PASSWORD }}
        run: |
         helm upgrade --install "$HELM_RELEASE" ./helm-charts/glpi \
          --namespace "$HELM_NAMESPACE" \
          --create-namespace \
          -f ./helm-charts/glpi/values-dev.yaml \
          --set image.repository=$ACR_LOGIN_SERVER/glpi \
          --set image.tag=2026 \
          --set mariadb.rootPassword="$DB_ROOT_PASSWORD" \
          --set mariadb.userPassword="$DB_USER_PASSWORD"
